
:root{
    --blue: #1a84b8;
    --light-blue: #1aa4b8;
    --bright-blue: #4285D6;
    --navy: #000080;
    --faint-blue: #90e0ef;
    --green: #00FF00;
    --red: #FF474C;

    --gradient-degree: 120deg;
    --gradient1: #2980b9;
    --gradient2: #6dd5fa;
    
    --curs: "Brush Script MT", cursive;
    --sans: 'europa',sans-serif;
    --mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;

    --font-size-mini: 14px;
    --font-size-small: 18px;
    --font-size-standard: 24px;
    --font-size-large: 32px;
    --font-size-header: 96px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}


body{
    height: 100vh;
    width: 100%;
}

button{
    font-size: var(--font-size-small);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;

    height: min-content;
    width: 100%;
    box-shadow: 5px 2px grey;
    
    color: white;
    background-color: var(--bright-blue);
}

button:hover{
    color: var(--navy);
    background-color: white;
    box-shadow: 10px 5px grey;
}

input{
    border-radius: 10px;
    padding-left: 1em;
    
    border: 1px solid black;
    height: 1.6em;
}

/*styles used by home, profile and trade*/
.main{
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navbar main-panel";

    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100%;
    width: 100%;
}

.navbar{
    grid-area: navbar;
    min-width: 50px;

}

.main_panel{
    grid-area: main-panel;

    height: 100%;
    width: 100%;
}

