.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    padding: 20px;

    align-items: center;
    justify-items: center;
}

.grid {
    padding: 16px;
    background-color: white;

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-small);

    width: 100%;
    height: 20vh;

    align-content: center;
}

.delete_button{
    width: fit-content;
    height: fit-content;

    background-color: var(--red);

    padding: 4vh 3vw;
}