.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas: 
    "Info Info Search"
    "Watchlist History Search"
    "Watchlist History Trade"
    "Watchlist History Trade";

    padding: 20px;

    width: 100%;
    height: 100vh;

    font-size: var(--font-size-mini);
    font-weight: bolder;
    text-align: center;

    grid-gap: 5px;
    
    .info{
        grid-area: Info;
        display: grid;

        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "balance . equity commission"
        "balance-info reset equity-info commission-info";

        column-gap: 20px;

    }

    .watchlist{
        grid-area: Watchlist;
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min-content;
        grid-auto-flow: row;
        
        row-gap: 12px;

        max-height: 100%;
        overflow-y: auto;

    }

    .history{
        grid-area: History;
    }

    .search{
        grid-area: Search;
        display: grid;

        gap: 10px;

        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-auto-flow: rows;


        .search_button{
            grid-column: 1/-1;
            grid-row: 3/4;
        }

        .result{
            grid-column: 1/-1;
            grid-row: 4/5;

            width: 100%;
            height: 100%;
            padding: 15px;

            background-color: white;
            border-radius: 20px;
            border: 1px solid black;

            font-weight: bolder;
            text-align: left;

            display: grid;
            grid-template-rows: 1fr 1fr auto;
            row-gap: 10px;
        }
    }

    .trade{
        grid-area: Trade;
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr 1fr;
        grid-auto-flow: row;

        .display{
            display: grid;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto auto;
            grid-auto-flow: row;
            
            background-color: white;
        }
    }

}


.entry{
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;

    box-shadow: 2px 2px var(--light-blue);

    transition: box-shadow 0.25s linear;
}

.entry:hover{
    box-shadow: 5px 5px var(--light-blue);
}

.title{
    grid-column: 1/-1;
    grid-row: 1/2;
}

.grid_item{
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px; 
}


.value_display{
    width: auto;
    height: 20px;

    border-radius: 50px;
    border: 2px solid black;
    background-color: white;

    font-weight: bolder;
    text-align: center;
}

.value_input{
    width: auto;
    height: 20px;

    border-radius: 8px;

    font-weight: bolder;
    padding-left: 10px;
}