.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr, auto;
    grid-template-areas:
    "info watchlist search"
    "info watchlist transaction";

    padding: 20px;
    gap: 25px;
}

.info{
    grid-area: info;
}

.watchlist{
    grid-area: watchlist;
}

.search{
    grid-area: search;
}

.transaction{
    grid-area: transaction;
}
